%head
	%script{:src=>"js/jquery-1.5.2.js"}
	%script{:src=>"js/jquery-ui-1.8.10.custom.min.js"}
	%script{:src=>"js/app.js"}
	%link{:href => "css/style.css", :type => "text/css", :rel => "stylesheet", :type => "text/css"}
%body
	#board
		%h2 Board:
		%table
			%tr
				%td
				%td
					%div{:class => 'double'}
						%span{:class => "side_1"}= @board.spinner.suit_of_end1
						%span{:class => "side_2"}= @board.spinner.suit_of_end2
				%td
					- @board.spokes[0].each do |s|
						- keys = s.keys
						- keys.each do |k|
							%div{:class => 'domino'}
								%span{:class => "side_1"}= s[k].spinward_end.suit
								%span{:class => "side_2"}= s[k].endward_end.suit
	#hand
		%h2 Hand:
		- @human_hand.each do |domino|
			%div{:class => "domino"}
				%span{:class => "side_1"}= domino.suit_of_end1
				%span{:class => "side_2"}= domino.suit_of_end2

	#play
		%h2 Play:
		#hand_domino
			%label Hand Domino:
			%span
		#board_domino
			%label Board Domino:
			%span